@import url("../matugen/generated/waybar-colors.css");

* {
    border: none;
    border-radius: 0px;

    font-family: "Adwaita Sans", "JetBrainsMono Nerd Font Propo", sans-serif;
    font-weight: 700;
    font-size: 13px;

    min-height: 16px;
    margin: 0;
}

window#waybar {
    background: transparent;
}

.modules-center {
    background: @surface;
    border-radius: 20px;
    padding: 0 6px;
}

tooltip,
tooltip.background,
tooltip decoration,
.tooltip {
    background: transparent;
    background-color: transparent;
    border: none;
    box-shadow: none;
    border-radius: 0;
}

tooltip label {
    color: @primary;
    background-color: @surface;
    padding: 4px 10px;
    border-radius: 12px;
}

#workspaces {
    padding: 6px 2px;
    margin: 0 0 0 4px;
}

#workspaces button {
    padding: 0px 2px;
    margin: 0px 2px;
    border-radius: 45px;
    background-color: @surface;
    color: alpha(@tertiary, 0.45);
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background: linear-gradient(135deg, @primary 0%, @secondary 100%);
    color: @on_primary;
    min-height: 16px;
    min-width: 24px;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    background: linear-gradient(135deg, @primary 50%, @secondary 100%);
    color: @on_primary;
    min-width: 20px;
    background-size: 400% 400%;
}

#battery,
#pulseaudio,
#network,
#clock,
#custom-media,
#window,
#custom-launcher,
#custom-notification,
#submap {
    background-color: @surface;
    padding: 0px 6px;
    margin: 3px 4px;
    border-radius: 45px;
    border: none;
    box-shadow: none;
}

#clock {
    color: @tertiary;
    font-size: 12px;
}

#mpris {
    color: @tertiary;
    font-size: 12px;
    background-color: @surface;
    padding: 0 6px;
    margin: 3px 4px;
    border-radius: 45px;
}

#pulseaudio {
    color: @tertiary;
    font-size: 12px;
}

#network {
    color: @secondary;
    font-size: 12px;
}

#battery {
    color: @secondary;
    font-size: 12px;
}

#custom-notification {
    color: @tertiary;
    font-size: 12px;
}

#custom-cava {
    color: @tertiary;
    padding: 0 6px;
    margin: 3px 4px;
    border-radius: 45px;
    background-color: @surface;
}

#custom-mpris-trigger {
    color: @tertiary;
    padding: 0 6px;
    margin: 3px 0 3px 4px;
    border-radius: 45px;
    background-color: @surface;
    font-size: 12px;
}

#custom-dropdown {
    padding: 0 6px 0 12px;
}

#tray {
    background-color: @surface;
    padding: 0 6px;
    margin: 3px 0;
    border-radius: 45px;
}

#tray .passive {
    -gtk-icon-effect: dim;
}

#tray .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @accent;
}

.hide-tray-drawer {
    background-color: @surface;
    border-radius: 20px;
    margin-right: 8px;
}

.cava-mpris-drawer {
    background-color: transparent;
}

.mpris-drawer {
    background-color: transparent;
}

#hide-tray {
    background: transparent;
    border-radius: 20px;
    margin-right: 8px;
    padding: 4px 0;
}
